@import url("/node_modules/reveal.js/dist/reveal.css");
@import url("/node_modules/reveal.js/dist/theme/black.css");

.reveal-container {
    height: 400px;
    background-color: skyblue;
}

.make-it-pop {
    filter: drop-shadow(0 0 10px purple);
}